@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

.mt-150 {
    margin-top: 150px;
}

:root {
    --font_color: #333333;
    --highlight_color: #2d9cdb;
}

a {
    font-family: inherit;
    color: inherit;
}

button {
    cursor: pointer;
}

html,
body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: var(--font_color);
    overflow-x: hidden;
}

div.main_container {
    width: 1000px;
}

@media (max-width: 1000px) {
    div.main_container { width: 90%; }
}

header.main_header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

header.main_header span.main_header_logo {
    font-family: 'Heebo';
    font-weight: 800;
    font-size: 2rem;
}

header.main_header nav.main_header_nav {
    width: 500px;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.1rem;
}

nav.main_header_nav a.main_header_nav_hide_button,
header.main_header a.main_header_nav_show_button
{
    display: none;
}

@media (max-width: 800px)
{
    header.main_header {
        height: 80px;
        margin-bottom: 30px;
    }

    header.main_header nav.main_header_nav
    {
        display: none;
    }

    header.main_header nav.main_header_nav.show
    {
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: 1000;
        color: #ffffff;
        backdrop-filter: blur(5px);
        background-color: rgba(0,0,0, .7);
        }

    header.main_header nav.main_header_nav > :nth-child(n)
    {
        margin-bottom: 10px;
    }

    nav.main_header_nav a.main_header_nav_hide_button {
        position: absolute;
        top: 15px;
        right: 25px;
    }

    nav.main_header_nav a.main_header_nav_hide_button,
    header.main_header a.main_header_nav_show_button
    {
        display: block;
    }
}


main.main_content {}

main.main_content h1 {
    width: 400px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 2.2rem;
    margin-left: 180px;
    margin-bottom: 50px;
}

main.main_content h1 span {
    font-size: 1rem;
    color: var(--highlight_color);
}

#people_talking {
    display: block;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 10px;
}

@media (max-width: 800px)
{
    main.main_content h1 {
        width: 200px;
        margin-left: 30px;
        margin-bottom: 20px;
        font-size: 1.1rem;
    }
    
    main.main_content h1 span {
        font-size: .7rem;
    }
}

section.contact_you {
    width: 330px;
    display: flex;
    flex-direction: column;
    margin-left: 180px;
    font-family: 'Poppins';
    margin-bottom: 200px;
}

section.contact_you h3 {
    font-weight: 500;
    font-size: 2.2rem;
    margin-bottom: 40px;
}

section.contact_you p {
    font-size: 1rem;
    margin-bottom: 60px;
}

section.contact_you form {
    position: relative;
    width: 88%;
    height: 45px;
    font-family: 'Poppins';
}

section.contact_you form label {
    position: absolute;
    top: -20px;
    left: 0;
    color: #828282;
    font-size: .8rem;
    font-family: inherit;
}

section.contact_you form input {
    outline: none;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 100px;
    font-family: inherit;
    border-radius: 10px;
    background-color: #f2f2f2;
}

section.contact_you form button {
    position: absolute;
    width: 80px;
    height: 40px;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font-family: inherit;
    color: #ffffff;
    border-radius: 10px;
    background-color: var(--highlight_color);
}

@media (max-width: 800px)
{
    section.contact_you {
        width: 200px;
        margin-left: 30px;
        margin-bottom: 20px;
    }
    
    section.contact_you h3 {
        font-size: 1.1rem;
        margin-bottom: 10px;
    }
    
    section.contact_you p {
        font-size: .7rem;
        margin-bottom: 20px;
    }

    section.contact_you form {
        height: 38px;
    }
    
    section.contact_you form label {
        top: -15px;
        font-size: .6rem;
    }
    
    section.contact_you form input {
        padding-left: 10px;
        padding-right: 100px;
    }
    
    section.contact_you form button {
        width: 60px;
        height: 32px;
    }
}

section.services {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

section.services h3 {
    width: 300px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.9rem;
    margin-bottom: 40px;
}

section.services div.services_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

div.services_container div.services_item {
    cursor: pointer;
    padding: 40px 30px;
    border-radius: 12px;
}

div.services_container div.services_item:hover {
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}

div.services_container div.services_item:hover button {
    color: #ffffff;
    background-color: var(--highlight_color);
}

div.services_item span.material-icons {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 25px;
}

div.services_item h4 {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 15px;
}

div.services_item p {
    width: 200px;
    font-family: 'Poppins';
    font-size: .9rem;
    margin-bottom: 30px;
}

div.services_item button {
    padding: 10px 20px;
    font-weight: bold;
    font-size: .8rem;
    color: #828282;
    border-radius: 8px;
}

section.designs {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    margin-bottom: 200px;
}

section.designs h3 {
    width: 350px;
    font-weight: 500;
    font-size: 1.9rem;
}

section.designs div.designs_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

div.designs_container div.designs_container_column {
    width: 48%;
}

div.designs_container_column figure {
    width: 500px;
}

div.designs_container_column > :first-child {
    margin-bottom: 150px;
}

div.designs_container_column figure img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
}

div.designs_container_column figure figcaption {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 1.1rem;
}

div.designs_container_column figure figcaption span {
    font-weight: 300;
    font-size: .8rem;
    line-height: 21px;
    margin-bottom: 5px;
}

section.designs a {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    right: 0;
    font-size: 1rem;
    color: var(--highlight_color);
}

section.meet_the_team {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}

section.meet_the_team div.meet_the_team_presentation {
    width: 280px;
    display: flex;
    flex-direction: column;
}

div.meet_the_team_presentation h3 {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.9rem;
    margin-bottom: 5px;
}

div.meet_the_team_presentation h3 span {
    font-weight: 500;
    font-size: .8rem;
    color: #EB5757;
}

div.meet_the_team_presentation p {
    font-family: 'Poppins';
    font-size: 1rem;
}

section.meet_the_team div.meet_the_team_pictures {
    display: grid;
    gap: 20px;
}

section.meet_the_team div.meet_the_team_pictures :nth-child(1) {
    width: 230px;
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    border-radius: 12px;
}

section.meet_the_team div.meet_the_team_pictures :nth-child(2) {
    width: 260px;
    grid-column: 2;
    grid-row: 2;
    border-radius: 12px;
}

section.meet_the_team div.meet_the_team_pictures :nth-child(3) {
    width: 290px;
    grid-row: span 2;
    align-self: center;
    border-radius: 12px;
}

section.comment {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    margin-bottom: 200px;
}

section.comment > span {
    width: 700px;
    font-weight: 500;
    font-size: 1.7rem;
    margin-bottom: 20px;
}

section.comment div.comment_author {
    display: flex;
}

div.comment_author img {
    width: 60px;
    margin-right: 10px;
    border-radius: 10px;
}

div.comment_author div.comment_author_about {
    display: flex;
    flex-direction: column;
}

div.comment_author_about span.comment_author_about_name {
    font-size: 1rem;
    margin-bottom: 8px;
}

div.comment_author_about span.comment_author_about_function {
    font-size: .8rem;
    color: #828282;
}

footer.main_footer {
    position: absolute;
    width: 100vw;
    background: #100e1d;
    left: 0;
    padding-top: 30px;
}

footer.main_footer div.main_footer_container {
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr 30px;
    margin-left: auto;
    margin-right: auto;
}

div.main_footer_container nav.main_footer_nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

nav.main_footer_nav a.main_footer_nav_item {
    font-family: 'Poppins';
    font-size: .9rem;
    color: #ffffff;
    margin-bottom: 10px;
}

div.main_footer_container div.main_footer_contact {
    display: flex;
    flex-direction: column;
}

div.main_footer_contact span.main_footer_logo {
    font-family: 'Heebo';
    font-weight: 800;
    font-size: 1.5rem;
    color: #f2f2f2;
}

div.main_footer_container div.main_footer_contact_you {
    width: 300px;
    height: 40px;
    margin-top: 25px;
}

div.main_footer_contact_you form {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
}

div.main_footer_contact_you form label {
    position: absolute;
    top: -25px;
    left: 0;
    color: #ffffff;
    font-size: .8rem;
    font-family: inherit;
}

div.main_footer_contact_you form input {
    outline: none;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 100px;
    font-family: inherit;
    border-radius: 8px;
    background-color: #f2f2f2;
}

div.main_footer_contact_you form button {
    position: absolute;
    width: 65px;
    height: 35px;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font-family: inherit;
    color: #ffffff;
    border-radius: 10px;
    background-color: var(--highlight_color);
}

div.main_footer_container div.main_footer_copright {
    grid-column: span 3;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: .7rem;
    color: #F2F2F2;

}

@media (max-width: 1000px) {
    footer.main_footer div.main_footer_container {
        width: 100%;
    }
}


